/* Rules for icon sizes: */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; } /* Default */
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }


#transportservice-content-container {
  /* border-radius: 5px; */
  /* border: 1px solid #73AD21; */
  /* width: 97%; */
  /* margin: 1% auto auto auto; */
  /* margin-top: 3%;
  text-align: center;
  background-color: #fff; */

}

#main-heading {
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  animation-name: slide 5s;
  -webkit-animation: slide 5s;
  /* animation-duration: 5s; */
}

@keyframes slide {
  from {left: 90vw;}
  to {left: 0px;}
}

@-webkit-keyframes slide {
  from {left: 90vw;}
  to {left: 0px;}
}

#firebaseui-auth-container {
  /* text-align: center; */
  /* background-color: #fff; */
  display: none;
  /* visibility: hidden; */
  margin-top: 3%;

}

#firebaseui-auth-container.show {
  display: block;
  /* visibility: visible; */
}

#logout-button {
  /* text-align: center; */
  /* background-color: #fff; */
  visibility: hidden;

}

#logout-button.show {
  visibility: visible;
}

#user-profile-container {
  /* margin-top: 3%;
  text-align: center;
  margin-bottom: 3%; */
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


#loader {
  visibility: hidden;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  z-index: 5;
  position: fixed;
  /* margin: auto; */
  min-width: 120px; /* Set a default minimum width */
  margin-left: -68px; /* Divide value of min-width by 2 */
  left: 50%;
  min-height: 120px;
  margin-top: -68px;
  top: 50%;
}

#loader.show {
  visibility: visible;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
 visibility: hidden; /* Hidden by default. Visible on click */
 min-width: 250px; /* Set a default minimum width */
 margin-left: -125px; /* Divide value of min-width by 2 */
 background-color: #333; /* Black background color */
 color: #fff; /* White text color */
 text-align: center; /* Centered text */
 border-radius: 2px; /* Rounded borders */
 padding: 16px; /* Padding */
 position: fixed; /* Sit on top of the screen */
 z-index: 5; /* Add a z-index if needed */
 left: 50%; /* Center the snackbar */
 bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
 visibility: visible; /* Show the snackbar */
 /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
 However, delay the fade out process for 2.5 seconds */
 -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
 animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
 from {bottom: 0; opacity: 0;}
 to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
 from {bottom: 0; opacity: 0;}
 to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
 from {bottom: 30px; opacity: 1;}
 to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
 from {bottom: 30px; opacity: 1;}
 to {bottom: 0; opacity: 0;}
}

.map_full {
  height: 500px;
  width: 100%;
  border-radius: 5px;
  /* margin: 1% auto auto auto; */
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  /* background-color: red;
  color: white; */
  text-align: center;
}

.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}

#requestProgress {
  display: none;
}

#requestProgress.show {
  display: flex;
}

#btn-group-location {
  display: none;
}

#btn-group-location.show {
  display: flex;
}

#btn-group-clear {
  display: none;
}

#btn-group-clear.show {
  display: flex;
}

#btn-group-loc-dest {
  display: none;
}

#btn-group-loc-dest.show {
  display: flex;
}

#btn-group-clear-dest {
  display: none;
}

#btn-group-clear-dest.show {
  display: flex;
}

/* #requestBar {
  width: 0%;
  height: 30px;
  background-color: #007bff;
} */
