
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.map_full {
  height: 100%;
  width: 100%;
}

.map_with_directions {
  height: 100%;
  width: 75%;
  float:left;
}

.show_directions {
  height: 100%;
  width: 33%;
  float: right;
  overflow: auto;
}

.hide_directions {
  height: 0%;
  width: 0%;
  display: none;
}
.center {
	text-align: center;

}

.auth_container {
  margin: 50px;
  width: 100%;
  border: 1px solid #73AD21;
}

#transportservice-header-container {
  border-radius: 5px;
  border: 1px solid #73AD21;
  /* width: 50%;
  margin: auto; */
  margin-top: 3%;
  text-align: center;
  background-color: #fff;

}

#driver-edit-container {

  border-radius: 5px;
  border: 1px solid #73AD21;
  width: 77%;
  margin: auto;
  margin-top: 3%;
  text-align: center;
  background-color: #fff;
  font-family: "Roboto", "sans-serif";
  padding: 15px 32px;

  font-size: 18px;
  /* text-decoration: none; */
  /* display: inline-block; */
}




#logout_button {
  margin-right: 15px;
}

/* #logout_button.show {
  visibility: visible;
} */

.map_header_container {
  border-radius: 5px;
  border: 1px solid #73AD21;
  text-align: center;
  background-color: #fff;
  font-family: "Roboto", "sans-serif";
  padding: 15px 32px;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  margin: 7px 15px 0px 0px;

}


/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

.button:hover {
  opacity: 0.7;
}

.button {
  border-radius: 5px;
    font-family: "Roboto", "sans-serif";
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
}

.request_button:hover {
  opacity: 0.7;
}

.request_button {
  border-radius: 5px;
  font-family: "Roboto", "sans-serif";
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* #address-form {
  text-align: center;
  border: 1px solid #73AD21;
  border-radius: 5px;
  width: 25%;
  background-color: #fff;
  margin: 7px 0px 0px 15px;
  padding: 4px;
} */

/* #pickup-date-wrapper {
  display: inline;
} */

.pickup-address-label {
   display: block;
   text-decoration: underline;
   font-size: 16px;
   /* margin: 15px 0px 0px 15px; */
   padding: 2px;
}

.pickup-address-edit {
   margin: auto;
   border-radius: 5px;
   width: 97%;
   font-size: 16px;
   /* margin: 1px 0px 0px 15px; */
   padding: 4px;
}

#pickup-date-label {

   text-decoration: underline;
   font-size: 12px;
   /* margin: 15px 0px 0px 15px; */
   padding: 2px;
}

#pickup-date-edit {

   font-size: 16px;

}

#pickup-time-label {

   text-decoration: underline;
   font-size: 12px;
   /* margin: 15px 0px 0px 15px; */
   padding: 2px;
}

#pickup-time-edit {

   font-size: 16px;

}


#firebaseui-auth-container {
  text-align: center;
  /* background-color: #fff; */
  visibility: hidden;
  z-index: 5;
  position: fixed;
  min-width: 500px; /* Set a default minimum width */
  margin-left: -250px; /* Divide value of min-width by 2 */
  left: 50%;
  min-height: 500px;
  margin-top: -250px;
  top: 50%;


}

#firebaseui-auth-container.show {
  visibility: visible;
}

/* #signin-heading {
  visibility: hidden;
}

#signin-heading.show {
  visibility: visible;
} */


#loader {
  visibility: hidden;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  z-index: 5;
  position: fixed;
  /* margin: auto; */
  min-width: 120px; /* Set a default minimum width */
  margin-left: -68px; /* Divide value of min-width by 2 */
  left: 50%;
  min-height: 120px;
  margin-top: -68px;
  top: 50%;
}

#loader.show {
  visibility: visible;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
 visibility: hidden; /* Hidden by default. Visible on click */
 min-width: 250px; /* Set a default minimum width */
 margin-left: -125px; /* Divide value of min-width by 2 */
 background-color: #333; /* Black background color */
 color: #fff; /* White text color */
 text-align: center; /* Centered text */
 border-radius: 2px; /* Rounded borders */
 padding: 16px; /* Padding */
 position: fixed; /* Sit on top of the screen */
 z-index: 5; /* Add a z-index if needed */
 left: 50%; /* Center the snackbar */
 bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
 visibility: visible; /* Show the snackbar */
 /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
 However, delay the fade out process for 2.5 seconds */
 -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
 animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
 from {bottom: 0; opacity: 0;}
 to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
 from {bottom: 0; opacity: 0;}
 to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
 from {bottom: 30px; opacity: 1;}
 to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
 from {bottom: 30px; opacity: 1;}
 to {bottom: 0; opacity: 0;}
}

.login_shown {
  position: absolute;; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */

}

.google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
.google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
