
.map_full {
  height: 100%;
  width: 100%;
}

.map_with_directions {
  height: 100%;
  width: 75%;
  float:left;
}

.show_directions {
  height: 100%;
  width: 25%;
  float: right;
  overflow: auto;
}

.hide_directions {
  height: 0%;
  width: 0%;
  display: none;
}
.center {
	text-align: center;

}

.header_container {
  border: 1px solid #73AD21;
  text-align: center;
  background-color: #fff;
  font-family: "Roboto", "sans-serif";
  padding: 15px 32px;
  margin: 4px 2px;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;

}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

.button:hover {
  opacity: 0.7;
}

.button {
    font-family: "Roboto", "sans-serif";
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
